{
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "space-before-function-paren": [
      2,
      "always"
    ],
    "keyword-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ]
  },
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/base",
    "plugin:vue/essential",
    "plugin:vue/strongly-recommended",
    "plugin:vue/recommended",
    "@vue/standard",
    "@vue/typescript/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "parser": "@typescript-eslint/parser"
  }
}
